.chatting-room-wrapper {
  display: flex;
  width: 100%;
  height: 620px;
  border: 1px solid #eeeeee;

  .chatting-member-area {
    width: 250px;
    background: #333333;
    border-right: 1px solid #eeeeee;
  }

  .chatting-area {
    flex: 1;
    background: #f5f5f5;
  }

  .chatting-info-board {
    height: 400px;
    padding: 15px;
  }
}