.chatting-input-board {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 218px;
  border-top: 2px solid #eeeeee;

  .textarea {
    width: 100%;
    height: 180px;
    resize: none;
    padding: 15px;
    border: none;
    outline: none;
    background: #f5f5f5;
  }

  .btn-send {
    color: green;
    padding: 3px 18px;
    margin-top: 5px;
    margin-right: 10px;
    background: white;
    border: 1px solid #eeeeee;
    border-radius: 5px;
  }
}