.chatting-room-login-wrapper {
    width: 400px;
    padding: 30px 0;
    margin: 30px auto;
    border: 1px solid #cccccc;
    .title {
        text-align: center;
        margin-bottom: 15px;
    }
    .operation {
        display: flex;
        justify-content: center;
        .input {
            padding: 3px;
            font-size: 12px;
        }
        .btn {
            font-size: 12px;
            margin-left: 5px;
            border: none;
            color: white;
            background: pink;
        }
    }
}